//Colors
$accent: #FFB800;
$light: #fff;
$main: #000000;
$additional-1: #303030;
$additional-2: #A4A4A4;
$additional-3: #C4C4C4;
$additional-4: #7B7B7B;
$additional-5: #909090;
$additional-6: #919191;
$bg-footer: #D0B8AC;
$bg-button: #BDA79C;

//Fonts
$font-main: 'Cinzel', serif;
$font-additional-1: 'Playfair Display', serif;
$font-additional-2: 'Montaga', serif;

//Media breakpoints
$md1: 1024px;
$md2: 992px;
$md3: 768px;
$md4: 576px;
$md5: 480px;
$md6: 425px;
$md7: 375px;
$minw: 320px;
$maxw: 1280px;